#app {
  width: 300px;
  text-align: center;
}

#app form {
  height: 30px;
  display: flex;
}

form>input {
  width: 238px;
  padding: 0px 5px;
  border-width: 1px;
  border-color: navy;
}

form>button {
  width: 45px;
  font-size: 16px;
  margin-left: 5px;
  background-color: navy;
  color: white;
  border: none;
}

#app ul {
  padding: 0;
  list-style: none;
}

#app li {
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

li>.delete_button {
  width: 50px;
  height: 100%;
  font-size: 16px;
  background-color: navy;
  color: white;
  border: none;
}

li>.todo_item {
  width: 228px;
  padding-left: 20px;
  display: flex;
  text-align: left;
  align-items: center;
  border: 1px solid navy;
}
